doctype html
html(lang="ja")
  head
    include includes/_head.pug
  
  body
    header
      include includes/_header.pug
    main
      #index
        
    footer
      include includes/_footer.pug
    
      
  
  include includes/_script.pug
